extends layout

block content
  h2 Product Details
  if products.length
    each p in products
      .product
        h3= p.name
        img(src=p.image, alt=p.name, width='150')
        p Barcode: #{p.barcode}
        p Description: #{p.description}
  else
    p No products found.